.header {
  background: #ffffff;
  border-bottom: 1px solid #eef1f5;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1440px;
  margin: auto;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

/* LOGO */
.logo img {
  height: 52px;
  cursor: pointer;
}

/* RIGHT SIDE (NAV + BUTTON) */
.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 28px;
}

/* NAV */
.nav {
  display: flex;
  gap: 28px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  color: #273846;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #4685C4;
}

/* CTA BUTTON */
.header-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #4685C4;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.header-btn img {
  width: 25px;
  height: 25px;
}

.header-btn:hover {
  background: #357bd8;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-left: 20px;
  z-index: 1100;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #273846;
  transition: 0.3s ease;
  border-radius: 2px;
}

@media (max-width: 1024px) {

  body {
    overflow-x: hidden;
    touch-action: pan-y;
  }

  .logo img {
    height: 40px;
  }

  .hamburger {
    display: flex;
    margin-left: auto;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 30px;
    gap: 40px;
    z-index: 1050;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
  }

  .header-right.open {
    transform: translateX(0);
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
  }

  .nav a {
    font-size: 20px;
    width: 100%;
    text-align: left;
  }

  .header-btn {
    width: fit-content;
  }
}