.footer {
  background: #f6fcfe;
  padding: 20px 0 0;
}

.footer-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 40px;
  align-items: flex-start;
}

.footer-col.brand {
  margin-top: 20px;
}

.footer-col h4 {
  font-size: 20px;
  font-weight: 600;
  color: #273846;
  margin-bottom: 24px;
  letter-spacing: 0.3px;
}

.footer-col p {
  font-size: 16px;
  line-height: 26px;
  color: #47557b;
  margin: 20px 0;
  max-width: 260px;
}

.footer-logo {
  width: 217px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  font-size: 16px;
  color: #47557b;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #4685c4;
}

.socials {
  display: flex;
  gap: 14px;
  margin-top: 10px;
}

.socials img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #47557b;
}

.contact-item img {
  width: 18px;
  margin-top: 2px;
}

.footer-bottom {
  margin-top: 10px;
  border-top: 1px solid #D9DBE9;
  padding: 20px 0;
  text-align: left;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom p {
  font-size: 14px;
  color: #585D6A;
}

@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}

@media (max-width: 430px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-col p {
    margin-left: auto;
    margin-right: auto;
  }

  .socials {
    justify-content: center;
  }

  .contact-item {
    justify-content: center;
  }

  .footer-bottom {
    text-align: center;
  }
}
